.slideshow-widget {
  max-width: 100% !important;
  width: 100%;
  margin: 0;
}
.slideshow-widget .slick-list {
   max-height: 500px;
 }
.slideshow-widget .slide__wrapper {
  height: 500px;
  position: relative;
}

.slideshow-widget img {
  filter: brightness(0.6);
}


.product__list__image {
  img {
    object-fit: cover!important;
  }
}
.header{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.header nav ul li > a {
  display: flex;
  align-items: center;
  min-height: 48px;
  line-height: 1.25;
}
.Toastify__toast--error{
  color:white;
}

@media (min-width: 768px) {
  nav .group > ul {
    pointer-events: none;
    margin-top: 0 !important;
  }

  nav .group:hover > ul,
  nav .group > ul:hover,
  nav .group:focus-within > ul {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
  nav .group > ul li a {
    white-space: nowrap;
    font-size: 0.875rem; // 14px
    line-height: 1.25rem;
  }
}

@media (max-width: 767px) {
  nav > div > ul > li {
    margin-left: 8px;
  }
}

